<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Analytics (analytics.google.com) ===== DO NOT TOUCH ==== -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117911099-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-117911099-1');
    </script>
    <!-- Google Analytics ============================ DO NOT TOUCH ==== -->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Theta Tau Cornell - Professional Engineering Fraternity </title>
    <meta name="description" content="The Foremost Professional Engineering Fraternity">
    <meta name="author"
        content="Andrew Aquino, Brandon Hartz, Varun Hegde, Valerie Hu, Yuxiao Tan, Brian Guo, Celine Choo">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/skeleton.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/dropzone.css')}}">
    <!-- slick is a carousel plugin used for spotlight -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/slick.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">

    <link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>

    <!-- Javascript plugins -->

    <link rel="icon" type="image/png" href="{{url_for('static', filename='img/favicon.ico')}}">
</head>

<body>

    <!--=======================================================
                        NAVIGATION
========================================================-->

    <ul class="navigation mobile">
        {% if status['apply'] == "none" %}<li class="nav-item"><a class="nav-home">Home</a></li>{% endif %}
        {% if status['apply'] == "block" %}<li class="nav-item"><a class="nav-apply">Apply</a></li>{% endif %}
        <li class="nav-item"><a class="nav-about-us">About</a></li>
        {% if status['spotlight'] == "block" %}<li class="nav-item"><a class="nav-spotlight">Spotlight</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-portfolio">Portfolio</a></li>
        <li class="nav-item"><a class="nav-brothers">Brothers</a></li>
        <li class="nav-item"><a class="nav-contact">Contact</a></li>
    </ul>

    <input type="checkbox" id="nav-trigger" class="nav-trigger mobile" />
    <label for="nav-trigger" class="mobile">
        <svg class="bg-black link" width="20px" height="15px" viewBox="0 0 20 15" version="1.1"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Rectangle-1-+-Rectangle-1-Copy-2-+-Rectangle-1-Copy" sketch:type="MSLayerGroup" fill="#dddddd">
                    <rect id="Rectangle-1" sketch:type="MSShapeGroup" x="0" y="0" width="20" height="3" rx="2"></rect>
                    <rect id="Rectangle-1-Copy-2" sketch:type="MSShapeGroup" x="0" y="6" width="20" height="3" rx="2">
                    </rect>
                    <rect id="Rectangle-1-Copy" sketch:type="MSShapeGroup" x="0" y="12" width="20" height="3" rx="2">
                    </rect>
                </g>
            </g>
        </svg>
    </label>

    <div class="site-wrap">
        <div class="bg-black regular">
            <div class="container pt2 pb2 nav-desktop">
                <div class="row">
                    <div class="four columns">
                        <img class="menu-item" src="{{url_for('static', filename='img/red.tt.logo.png')}}" />
                    </div>
                    <div class="eight columns">
                        <a class="link menu-item nav-contact">Contact</a>
                        <a class="link menu-item nav-brothers">Brothers</a>
                        <a class="link menu-item nav-portfolio">Portfolio</a>
                        {% if status['spotlight'] == "block" %}<a
                            class="link menu-item nav-spotlight">Spotlight</a>{% endif %}
                        <a class="link menu-item nav-about-us">About</a>
                        {% if status['apply'] == "block" %}<a class="link menu-item nav-apply">Apply</a>{% endif %}
                        {% if status['apply'] == "none" %}<a class="link menu-item nav-home">Home</a>{% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!--=======================================================
                              HEADER
    ========================================================-->
        <div id="home" name="home" class="bg-header">
            <div class="container pt12 pb12 center">
                <div class="row">
                    <h1 id="thetatau" class="capitalize white bold mt2">Theta Tau</h1>
                </div>
            </div>
        </div>

        <!--=======================================================

                        APPLY (desc & form)
                                ___

        Note: Please do not make the application part of the
        website invisible in the HTML. There is a place in 
        app.py to do so.

    ========================================================-->
        <div id="apply" class="bg-lightgrey-2" name="apply" style="display:{{status['apply']}}">
            <div class="container pt6 pb6 pl2 pr2">
                <div class="row">
                    <h2 class="bold offblack center">Become a Brother</h2>
                </div>
                <div class="row mb2 mt4">
                    <div class="w-50 mx-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="52px" height="2px"
                            viewBox="0 0 52 2" version="1.1">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                sketch:type="MSPage">
                                <path d="M1.5,1 L50.3364601,1" id="Line" stroke="#E03B3B" stroke-width="2"
                                    stroke-linecap="square" sketch:type="MSShapeGroup" />
                            </g>
                        </svg>
                    </div>
                </div>
                <div>
                    <center>
                        <h6 class="decorated-2 mb3" style="margin:0; padding-top: 40px;">Fall Recruitment Application
                        </h6>
                        <!-- TODO: Replace deadline date. -->
                        <h5 class="decorated-2 mb3" style="margin:0; padding-top: 24px;">DEADLINE: September 14th 11:59 PM
                        </h5>
                        <h7 class= "decorated-2 mb3" style = "margin:0' padding-top: 40 px;">We accept only sophomores & juniors enginering majors + CS/InfoSci in A&S and CALS
                        </h7>
                        <br>
                        <p>
                            <!-- TODO: Replace application link as necessary. -->
                            <center><a href="https://docs.google.com/forms/d/e/1FAIpQLScjKrd4npwDfI8UQA1n5NwzTfKBzdhIAUQ6AwTjdLYA4dss0w/viewform" target="_blank"><button>OPEN
                                        APPLICATION</button></a></center>
                        </p>
                    </center>
                </div>

                <!-- TODO: Add/replace rush timeline times/dates. --> 
                <div class="timeline">
                    <ol class="p6">
                        <li>
                            <h6 class="mb0">Coffee Chats</h6>
                            <p class="caption"> Sept 7 - 14 | Various Times </p>
                            <a href="https://docs.google.com/spreadsheets/d/1sRwbuhD9yH5_Dw_lVLyVYDHUqJlJrNpRa8YXWm-ku60/edit?usp=sharing" target="_blank"><button>Sign up</button></a>
                        </li>
                        <li>
                            <h6 class="mb0">Information Session 1</h6>
                            <p class="caption"> Sept 13 | 7:00 - 9:00 PM | Philips 101 </p>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScgS_AhqsgyB6MEY1r0hj1zgdqPkCNIlGgq_TP5-V5QCsikVg/viewform" target="_blank"><button>RSVP</button></a>
                        </li>
                        <li>
                            <h6 class="mb0">Information Session 2</h6>
                            <p class="caption"> Sept 14 | 5:00 - 7:00 PM | Hollister B14 </p>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScgS_AhqsgyB6MEY1r0hj1zgdqPkCNIlGgq_TP5-V5QCsikVg/viewform" target="_blank"><button>RSVP</button></a>
                        </li>
                        <li>
                            <h6 class="mb0">Professional Round (Invite Only)</h6>
                            <p class="caption"> Sept 16 | TBD </p>
                        </li>
                        <li>
                            <h6 class="mb0">Social Round (Invite Only)</h6>
                            <p class="caption"> Sept 20 | TBD </p>
                        </li>
                        <li>
                            <h6 class="mb0">Final Round (Invite Only)</h6>
                            <p class="caption"> Sept 20 | TBD </p>
                        </li>
                    </ol>
                </div>

                <div style="padding: 0 40px 40px 40px;">
                    <!-- TODO: Replace season. -->
                    <p class="lh2" style="font-size:1.6rem">Fall recruitment is open! Theta Tau is looking for
                        Cornell's most driven and hardworking engineers to join our organization.</p>
                    <!-- TODO: Replace rush chair names and emails. -->
                    <p class="lh2" style="font-size:1.6rem">If you have any questions or comments regarding any part of
                        the application (or even for help!) don't hesitate to reach out to the Recruitment Chairs <a href="mailto:kl627@cornell.edu">Kyra Lee (kl627)</a> and <a href="mailto:fcs54@cornell.edu">Felix Shi (fcs54)</a>. Hope to see you at an information session!</p>
                    <br>
                    <p class="lh2" style="font-size:1.6rem">Like us on <a
                        href="http://facebook.com/cornellthetatau" target="_blank">Facebook</a> and follow us on <a href="https://www.instagram.com/thetataucornell/" target="_blank">Instagram</a> for quick updates!</p>
                    <hr />
                </div>
            </div>
        </div>

        <!--=======================================================
                             ABOUT US
    ========================================================-->
        <div id="about-us" class="container pt3 pb1" name="about-us">
            <div class="row mx-auto">
                <!-- Site Title -->
                <div class="two columns pt2"></div>
                <div class="nine columns  pt2 pb2">
                    <div class="row">
                        <h6 class="decorated">Our Story</h6>
                        <h2 class="bold">We are the first & foremost professional engineering fraternity at Cornell
                            University.</h2>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="52px" height="2px"
                        viewBox="0 0 52 2" version="1.1">
                        <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
                        <title>Line</title>
                        <desc>Created with Sketch.</desc>
                        <defs />
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                            sketch:type="MSPage">
                            <path d="M1.5,1 L50.3364601,1" id="Line" stroke="#E03B3B" stroke-width="2"
                                stroke-linecap="square" sketch:type="MSShapeGroup" />
                        </g>
                    </svg>
                </div>
            </div>
            <div class="row mx-auto">
                <!-- Main description -->
                <div class="two columns pb2 pt2"></div>
                <div class="nine columns pt2 pb6">
                    <div class="row">
                        <p>
                            Theta Tau is the oldest, largest, and foremost Fraternity for Engineers. Since its founding
                            at the University of Minnesota in 1904, over 30,000 have been initiated over the years. With
                            emphasis on quality and a strong fraternal bond, the Fraternity has chapters in only ABET
                            accredited schools, and limits to seventy the number of student members in any one of its
                            chapters across the nation.
                        </p>
                        <p>
                            The purpose of Theta Tau is to develop and maintain a high standard of professional interest
                            among its members, and to unite them in a strong bond of fraternal fellowship. The members
                            of Theta Tau are: Honest and Ethical, Dependable and Trustworthy, Respectful, Generous, and
                            Proud of our Community of Engineers.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--=======================================================
                            WHAT WE DO 
    ========================================================-->
        <div id="what-we-do" class="bg-black" name="what-we-do">
            <div class="container pt6 pb6 pl2 pr2">
                <div class="row">
                    <h2 class="bold offwhite center">What we do</h2>
                </div>
                <div class="row mb2 mt4">
                    <div class="w-50 mx-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="52px" height="2px"
                            viewBox="0 0 52 2" version="1.1">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                sketch:type="MSPage">
                                <path d="M1.5,1 L50.3364601,1" id="Line" stroke="#E03B3B" stroke-width="2"
                                    stroke-linecap="square" sketch:type="MSShapeGroup" />
                            </g>
                        </svg>
                    </div>
                </div>

                <!-- Nav buttons for "what we do" descriptions -->
                <div class="row mb4 mt4">
                    <div class="mx-auto width_auto w-640 carousel-white">
                        <button id="btn-philanthropy" class="button button-outline four columns">Philanthropy</button>
                        <button id="btn-brotherhood" class="button button-outline four columns">Brotherhood</button>
                        <button id="btn-professionalism"
                            class="button button-outline four columns">Professionalism</button>
                    </div>
                </div>
                <!-- Philanthropy blurb -->
                <div id="philanthropy">
                    <!-- TODO: Replace philanthropy blurbs. -->
                    <div class="row mt4">
                        <div class="six columns offwhite">
                            <p>
                                The brothers of Theta Tau strive not only to help each other socially and academically,
                                but also to help the greater Ithaca community. Cornell is a busy place and it's easy to
                                get caught up in schoolwork, so I love having brothers who value making a positive
                                impact as much as I do. Our philanthropy pillar is very important to me and I had the
                                opportunity to organize a philanthropy event with my class when I joined, which every
                                class does as part of our new member education process. In addition, our fraternity as a
                                whole holds events and collaborates with other organizations. </p>
                        </div>
                        <div class="six columns offwhite bb-darkergrey mb2">
                            <p>
                                Some of our past events include charity sports tournaments, collaborations with Guiding
                                Eyes, volunteering at the Ithaca Sciencenter, Relay for Life, Science Olympiad, and
                                organizing charity March Madness brackets. Participating in these events together also
                                brings us closer to each other. An important part of Theta Tau philanthropy is how much
                                fun we have together while doing it. Participating in philanthropy events has allowed me
                                to bond with my brothers while contributing to both my campus and community. </p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- TODO: Replace philanthropy chair name. -->
                        <div class="two column center">
                            <h6 class="h7 decorated-3 mb0 mt1 ">Emma Kranich</h6>
                            <p class="caption ">Philanthropy Chair</p>
                        </div>
                    </div>
                </div>
                <!-- Social blurb -->
                <div id="brotherhood">
                    <!-- TODO: Replace social blurbs and names. -->
                    <div class="row mt4">
                        <div class="six columns offwhite">
                            <p>
                                Within Theta Tau, the bonds we make are integral to shaping both our Cornell experiences
                                and our future professional careers. Clara and Nathan, the social chairs, are in charge
                                of planning and organizing events where brothers fortify fulfilling friendships and make
                                meaningful memories. The brothers of Theta Tau have enjoyed formal events scheduled at
                                the end of every semester, date nights, new member class bonding events, and excursions
                                to off-campus activities, such as apple picking, go-karting, and team building.
                            </p>
                        </div>
                        <div class="six columns offwhite bb-darkergrey mb2">
                            <p>
                                These bonds of brotherhood formed within the organization go far beyond just
                                professional connections, providing a home away from home, mentorship, and a sense of
                                community at a large university. Having brotherhood means enjoying lifelong connections
                                that can provide support and celebration in life's most important moments.
                            </p>
                        </div>
                    </div>
                    <div class="row center">
                        <!-- TODO: Replace social chairs' names. -->
                        <div class="six columns">
                            <h6 class="h7 decorated-3 mb0 mt1 ">Nathan Stack</h6>
                            <p class="caption ">Social Chair</p>
                        </div>
                        <div class="six columns">
                            <h6 class="h7 decorated-3 mb0 mt1 ">Clara Walton</h6>
                            <p class="caption ">Social Chair</p>
                        </div>
                    </div>
                </div>
                <!-- Professional development blurb -->
                <div id="professionalism">
                    <!-- TODO: Replace professional development blurbs. -->
                    <div class="row mt4">
                        <div class="six columns offwhite">
                            <p>
                                Professionalism is one of the three main tenets of Theta Tau. We strive to provide
                                resources and educational opportunities for both new members and brothers, with the hope
                                that all brothers will develop the self confidence, self awareness, and lifelong skills
                                applicable to whatever profession they choose.
                            </p>
                        </div>
                        <div class="six columns offwhite bb-darkergrey mb2">
                            <p>
                                Throughout the year, we serve not only our members but the greater engineering community
                                by hosting information sessions, resume critiques, mock interviews, Alumni Panel Talks,
                                and presentations on a variety of topics. Our favorite events include our Pre-Enrollment
                                Office Hours and Career Fair 101 which we offer to the engineering community.
                                Professional development is based in personal development, and Theta Tau provides great
                                opportunities to assist brothers in finding and following their own paths.
                            </p>
                        </div>
                    </div>
                    <div class="row center">
                        <!-- TODO: Replace professional development chairs' names. -->
                        <div class="six columns">
                            <h6 class="h7 decorated-3 mb0 mt1 ">Massimo Carbone</h6>
                            <p class="caption ">Professional Development Chair</p>
                        </div>
                        <div class="six columns">
                            <h6 class="h7 decorated-3 mb0 mt1 ">Kanha Matai</h6>
                            <p class="caption ">Professional Development Chair</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!--=======================================================
                             BLM STATEMENT
    ========================================================-->

        <div id="blm_statement" class="bb-grey" name="current">
            <div class="container pt6 pb6 pl2 pr2">
                <div class="row">
                    <h2 class="bold offblack center">Black Lives Matter</h2>
                </div>
                <div class="row mb2 mt4">
                    <div class="w-50 mx-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="52px" height="2px"
                            viewBox="0 0 52 2" version="1.1">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                sketch:type="MSPage">
                                <path d="M1.5,1 L50.3364601,1" id="Line" stroke="#E03B3B" stroke-width="2"
                                    stroke-linecap="square" sketch:type="MSShapeGroup" />
                            </g>
                        </svg>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-12">
                        <div class="blm_statement">
                            <div class="six columns black">
                                <p>
                                    The Cornell Brothers of Theta Tau are horrified by the deaths of George Floyd,
                                    Breonna Taylor, Ahmaud Arbery, and countless other Black individuals. We condemn the
                                    acts of police brutality that have directly caused these unjust casualties. We
                                    firmly stand with our Black members and the Black community against the countless
                                    racial injustices they currently face and have faced for many years, as our strength
                                    comes from the diversity of our brotherhood. We also stand in unwavering solidarity
                                    with protesters around the world fighting against the systematic racism and
                                    oppression of the Black community. <strong>Black lives matter.</strong>
                                    <br>
                                    <br>
                                    Within the Engineering community, racial injustices manifest directly in
                                    discriminatory hiring practices, the lack of representation in leadership and
                                    membership, and normalized microaggressive behavior, to name a few. We should not be
                                    complicit in these actions–we must acknowledge the unintentional discrimination
                                    woven within our past recruiting practices and continue our efforts to mitigate the
                                    harms of such practices. <strong>To all members of the Black community, within and
                                        beyond
                                        our chapter, we hear you and we support you.</strong>
                                </p>
                            </div>
                            <div class="six columns black mb2">
                                <p>

                                    As an organization that values the strong bond of fellowship between our members, we
                                    are responsible for fostering an inclusive community of students, regardless of
                                    their background. We are responsible for choosing to be actively anti-racist by
                                    listening, learning, and taking action. In order to do so, <strong>we are committing
                                        to
                                        educate both ourselves and our Cornell community to be active in the fight
                                        against
                                        hatred and racism</strong> by engaging in challenging conversations within and
                                    outside our
                                    organization, re-learning history from Black perspectives, re-examining our past
                                    actions, holding ourselves accountable to our future actions, and striving to become
                                    actively anti-racist.
                                    <br>
                                    <br>
                                    The Black Lives Matter movement is not a social media trend, nor a one time event.
                                    <strong>We are committed to continuously and actively supporting and advocating for
                                        the
                                        Black community.</strong> We provide our unwavering support to the Black
                                    community, and
                                    strive to make active anti-racist change until true equality is attained for all
                                    Black people across all institutions, industries, and communities.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--=======================================================
                             SPOTLIGHTS
    ========================================================-->

        {% set sid = 0 %}
        {% set stitle = 1 %}
        {% set sdesc = 2 %}
        {% set simg = 3 %}

        <!-- Spotlights disabled -->
        <div id="spotlight" class="bg-lightgrey-2" name="current" style="display:{{status['spotlight']}};">
            <div class="container pt6 pb6 pl2 pr2">
                <div class="row">
                    <h2 class="bold offblack center">Spotlight</h2>
                </div>
                <div class="row mb2 mt4">
                    <div class="w-50 mx-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="52px" height="2px"
                            viewBox="0 0 52 2" version="1.1">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                sketch:type="MSPage">
                                <path d="M1.5,1 L50.3364601,1" id="Line" stroke="#E03B3B" stroke-width="2"
                                    stroke-linecap="square" sketch:type="MSShapeGroup" />
                            </g>
                        </svg>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-12">
                        <div class="spotlight">
                            {% for row in carousel %}
                            {% set row = row.split('\t') %}
                            <div class="center-block pt2 pb2 pr2 pl2">
                                <a href="/spotlight?id={{row[sid]}}"><img class="img-responsive"
                                        src="{{url_for('static', filename='img/spotlight/' ~ row[simg])}}"></a>
                                <div class="pt2 pl2 pr2">
                                    <h5>{{row[stitle]}}</h5>
                                    <p>{{row[sdesc]}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="spt-nav center"></div>
                    </div>
                </div>


            </div>
        </div>


        <!--=======================================================
                            PORTFOLIO
    ========================================================-->
        <div id="portfolio" class="container bb-grey pt8 pb1" name="portfolio">
            <div class="row">
                <h2 class="bold offblack center">We've been to great places</h2>
            </div>
            <div class="row mb2 mt4">
                <div class="w-50 mx-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="52px" height="2px"
                        viewBox="0 0 52 2" version="1.1">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                            sketch:type="MSPage">
                            <path d="M1.5,1 L50.3364601,1" id="Line" stroke="#E03B3B" stroke-width="2"
                                stroke-linecap="square" sketch:type="MSShapeGroup" />
                        </g>
                    </svg>
                </div>
            </div>

            <!-- Nav for portfolio -->
            <div class="row mb4 mt4">
                <div class="mx-auto width_auto w-640 carousel-black">
                    <button id="btn-employers" class="button button-outline four columns">Employers</button>
                    <button id="btn-schools" class="button button-outline four columns">Grad Schools</button>
                    <button id="btn-campus" class="button button-outline four columns">On Campus</button>
                </div>
            </div>

            <!-- Companies -->
            <div id="employers">
                <div class="row">
                    {% for i in range(18) %}
                    {% set employer = employers[i].split(",") %}
                    <div class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2">
                        <a href="{{employer[1]}}">
                            <img class="employer-logo vertical-align"
                                src="{{url_for('static', filename='img/employers/' + employer[0].strip())}}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="mx-auto width_auto w-320 carousel-black">
                    <button id="btn-see-more" class="button button-outline columns">See All</button>
                </div>
            </div>

            <!-- More companies (hidden) -->
            <div id="employers-more">
                <div class="row">
                    {% for i in range(18, employers|length) %}
                    {% set employer = employers[i].split(",") %}
                    <div class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2"
                        style="height: 155px">
                        <a href="{{employer[1]}}">
                            <img class="employer-logo vertical-align"
                                src="{{url_for('static', filename='img/employers/' + employer[0].strip())}}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="mx-auto width_auto w-320 carousel-black">
                    <button id="btn-see-less" class="button button-outline columns">See Less</button>
                </div>
            </div>

            <!-- Schools -->
            <div id="schools">
                <div class="row">
                    {% for i in range(schools|length) %}
                    <div class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2">
                        <img class="employer-logo vertical-align"
                            src="{{url_for('static', filename='img/schools/' + schools[i].strip())}}">
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- On campus -->
            <div id="campus">
                <div class="row">
                    {% for i in range(teams|length) %}
                    <div class="col col-4 sm-col sm-col-4 md-col-3 lg-col-2 sublabel blocks pt2 pb2 pr2 pl2">
                        <img class="employer-logo vertical-align"
                            src="{{url_for('static', filename='img/campus/' + teams[i].strip())}}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <!--=======================================================
                        EBOARD (profiles)
    ========================================================-->

        <!-- ======= Setting vars for brother profiles =======
        Basically, these numbers denote which column refers to which
        attribute of a brother. This should be universal across all
        csv/tsv's, since the same indices are used between core eboard,
        semesterly eboard, and regular brothers.

        fn = first name (first column)
        ln = last name (second column)
        id = the ID of a brother - this is bc some people have the same
             first and last name, so we need a way to find echen1.jpg and
             echen2.jpg. (third column)
        type = the type (can be either PC or eboard position, depending
             on which file is being used). (fourth column)
        bios = array of columns that are bios (each cell is a separate paragraph).
             (5th to 9th column).
        net = column which contains netID (10th column).
    -->
        {% set fn = 0 %}
        {% set ln = 1 %}
        {% set id = 2 %}
        {% set type = 3 %}
        {% set bios = range(4,11) %}
        {% set net = 11 %}

    <!-- Adding some show/hide functionality for virtual New Member Education -->
    <!--    Change to 'display: block' during New Member Meetings -->
    <div style="display: none">
        <br><br>
        <div class="row">
            <h2 class="bold center">Nice try...no cheating :-)</h2>
        </div>
        <div class="row mb3">
            <div class="w-50 mx-auto">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="52px" height="2px"
                    viewBox="0 0 52 2" version="1.1">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                        sketch:type="MSPage">
                        <path d="M1.5,1 L50.3364601,1" id="Line" stroke="#E03B3B" stroke-width="2"
                            stroke-linecap="square" sketch:type="MSShapeGroup" />
                    </g>
                </svg>
            </div>
        </div>
    </div>

    <!--    Change to 'display: none' during New Member Meetings -->
    <div style="display: block">
    
        <div id="brothers" class="bg-lightgrey-2 pt4" name="brothers">
            <div class="container bb-grey pt3 pb4">
                <div class="row">
                    <h2 class="bold center">Brotherhood</h2>
                </div>

                <div class="row mb3">
                    <div class="w-50 mx-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="52px" height="2px"
                            viewBox="0 0 52 2" version="1.1">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                sketch:type="MSPage">
                                <path d="M1.5,1 L50.3364601,1" id="Line" stroke="#E03B3B" stroke-width="2"
                                    stroke-linecap="square" sketch:type="MSShapeGroup" />
                            </g>
                        </svg>
                    </div>
                </div>

                <!-- CORE EBOARD PROFILE -->
                <h6 class="decorated mt2">Eboard</h6>
                {% for brother in eboard %}
                {% set brother = brother.split("\t") %}
                <div class="col sm-col sm-col-4 md-col-3 lg-col-2 sublabel p-small blocks">
                    <div class="" style="cursor:pointer" data-toggle="modal"
                        data-target="[name = '{{brother[type] ~ "_" ~ brother[fn] ~ "_" ~ brother[ln]}}']">
                        <img class="bio"
                            src="{{url_for('static', filename='img/brothers/' ~ brother[fn][0]|lower|replace(' ', '') ~ brother[ln]|lower|replace(' ', '') ~ brother[id]|replace(' ','') ~'.jpg')}}"
                            alt="{{ brother[fn] ~ ' ' ~ brother[ln]}}" />
                    </div>
                    <div class="">
                        <h6 class="h7 center decorated-2 mb0 mt1"> {{ brother[fn] ~ ' ' ~ brother[ln]}} </h6>
                        <p class="center caption">{{ brother[type]}}</p>
                    </div>
                </div>
                {% endfor %}
                <br class="clear">

                <!-- SEMESTER EBOARD PROFILE -->
                <h6 class="decorated mt2">Semesterly Eboard and Officers</h6>
                {% for brother in semester %}
                {% set brother = brother.split("\t") %}
                <div class="col sm-col sm-col-4 md-col-3 lg-col-2 sublabel p-small blocks">
                    <div class="" style="cursor:pointer" data-toggle="modal"
                        data-target="[name = '{{brother[type] ~ "_" ~ brother[fn] ~ "_" ~ brother[ln]}}']">
                        <img class="bio_img"
                            src="{{url_for('static', filename='img/brothers/' ~ brother[fn][0]|lower|replace(' ', '') ~ brother[ln]|lower|replace(' ', '') ~ brother[id]|replace(' ','') ~'.jpg')}}"
                            alt="{{ brother[0] ~ ' ' ~ brother[1]}}" />
                    </div>
                    <div class="">
                        <h6 class="h7 center decorated-2 mb0 mt1"> {{ brother[fn] ~ ' ' ~ brother[ln]}} </h6>
                        <p class="center caption">{{ brother[type]}}</p>
                    </div>
                </div>
                {% endfor %}
                <br class="clear" />
            </div>
        </div>

        <!--=======================================================
                        BROTHERHOOD (profiles)
    ========================================================-->

        <div class="container bb-grey pt4 pb8">
            {% for i in range(brothers|length) %}
            {% set brother = brothers[i].split("\t") %}
            {% set class = brother[3] %}
            {% if i == 0 or class != brothers[i-1].split("\t")[3] %}
            {% if i != 0 %}
            <!-- This is to close the "row" and "ten columns" div classes -->
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="two columns">
            <h6 class="decorated">{{class}}</h6>
        </div>
        <div class="ten columns">
            {% endif %}
            <div class="col sm-col sm-col-4 md-col-2 lg-col-2 p-small blocks">
                <div class="" style="cursor:pointer" data-toggle="modal"
                    data-target="[name = '{{brother[type] ~ '_' ~ brother[fn] ~ '_' ~ brother[ln]}}']">
                    <img class="bio"
                        src="{{url_for('static', filename='img/brothers/' ~ brother[fn][0]|lower|replace(' ', '') ~ brother[ln]|lower|replace(' ', '') ~ brother[id]|replace(' ','') ~'.jpg')}}"
                        alt="{{ brother[fn] ~ ' ' ~ brother[ln]}}" height="223.5px">
                </div>
                <div class="">
                    <h6 class="h7 center decorated-2 mt1 mb2">{{ brother[fn] ~ ' ' ~ brother[ln]}}</h6><br>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
    </div>

    <!--=======================================================
                              CONTACT
    ========================================================-->
    <div id="contact" class="row bg-black pt4 pb4">
        <div class="container pt2 h7">
            <div class="row footer">
                <div class="row">
                    <div class="two columns ">
                        <h6 class="h7 decorated-2 white mb3">Contact</h6>
                    </div>
                    <div class="ten columns">
                        <div class="row">
                            {% for brother in eboard %}
                            {% set brother = brother.split("\t") %}
                            {% set netid = brother[net] | trim %}
                            <div class="three columns">
                                <p class="grey lh2">{{brother[fn] ~ ' ' ~ brother[ln]}}<br>{{brother[type]}}<br><a
                                        href="mailto:{{netid}}@cornell.edu">{{netid}}@cornell.edu</a></p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="eight columns offset-by-two mt2">
                            <!-- TODO: Change year as necessary. -->
                            <h6 class="copy mb0 regular h7 grey left decorated-2">© 2020 Theta Tau Cornell | <a
                                    href="mailto:cornellttwebmaster@gmail.com">Webmaster</a></h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

    <!--=======================================================
                Brotherhood Profile Modals
========================================================-->

    {% set everyone = eboard + semester + brothers %}
    {% for brother in everyone %}
    {% set brother = brother.split("\t") %}
    <div class="modal fade" name="{{brother[type] ~ '_' ~ brother[fn] ~ '_' ~ brother[ln]}}">
        <!-- Mobile view -->
        <div id="mobile">
            <div class="modal-dialog">
                <div class="bg-white">
                    <div class="overlay" class="bio" style="background: url({{url_for('static', filename='img/brothers/' ~ brother[fn][0]|lower|replace(' ', '') ~ brother[ln]|lower|replace(' ', '') ~ brother[id]|replace(' ','') ~ '.jpg')}});
                                    background-size:   cover;
                                    background-repeat: no-repeat;
                                    background-position: center 30%; ">
                        <div class="overlay modal-header pb3 pl3 pr3">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h6 class="white h7 decorated-3 mb0 mt12 ">{{brother[fn] ~ ' ' ~ brother[ln]}}</h6>
                            <p class="white caption">{{brother[type]}}</p>
                        </div>
                    </div>

                    <div class="modal-body p3 modal-content">
                        <div class="row">
                            <div class="eight columns float-none modal-body-text mx-auto">
                                {% for i in bios %}
                                {% if brother[i]|trim|length != 0 %}
                                <p>{{brother[i] | safe}}</p>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <!-- Desktop view -->
        <div id="desktop">
            <div class="modal-dialog">
                <div class="bg-white">
                    <div class="row">
                        <div class="six columns width-50p" class="bio" style="background: url({{url_for('static', filename='img/brothers/' ~ brother[fn][0]|lower|replace(' ', '') ~ brother[ln]|lower|replace(' ', '') ~ brother[id]|replace(' ','') ~'.jpg')}});
                                        background-size:   cover;
                                        background-repeat: no-repeat;
                                        background-position: center 30%;
                                        height: 550px">
                        </div>

                        <div class="six columns modal-body ml0 width-50p p3">
                            <div class="row bb-grey mb2">
                                <div class="eleven columns">
                                    <h6 class="modal-text-color decorated-3 mb0">{{brother[fn] ~ ' ' ~ brother[ln] }}
                                    </h6>
                                    <p class="caption">{{brother[type]}}</p>
                                </div>
                                <div class="one columns">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row modal-content scroll ">
                                <div class="float-none modal-body-text mx-auto">
                                    {% for i in bios %}
                                    {% if brother[i]|trim|length != 0 %}
                                    <p>{{brother[i] | safe}}</p>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
    {% endfor %}

    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/GoogleAnalyticsScript.js')}}"></script>
    <script src="{{url_for('static', filename='js/FormValidationScript.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"> </script>
    <script src="{{url_for('static', filename='js/scrolling.js')}}"></script>
    <!-- slick is a carousel plugin used for spotlight -->
    <script src="{{url_for('static', filename='js/slick.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
